
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
body{
    background: black;
    font-family: Arial, sans-serif;
    color: white;
}

.content{
    max-width: 90vw;
    width:90%;
    margin: auto;
}
a{
    text-decoration: none;
}


button{
    text-align: center;
    background: transparent;
    font-size: 25px;
    border: none;
    margin: 20px;
    color: white;
}

#picture {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 45%;
    z-index: -1;
}

#picture2 {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 45%;
    z-index: -1;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: auto;
    height: 90vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'navigation heading nav';
    gap:30px;
}

.grid-item{
    padding: 30px;
}

.tite  {
    text-align: left;
    color: white;
}