
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background: black;
    font-family: Arial, sans-serif;
    color: white;
}

.container{
    margin: auto;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    padding: 4rem 2rem;
}
a{
    text-decoration: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.desc{
    width: 90%;
}
button{
    text-align: center;
    background: transparent;
    font-size: 25px;
    border: none;
    margin: 20px;
    color: white;
}

#picture {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 45%;
    z-index: -1;
}

#picture2 {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 45%;
    z-index: -1;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin: auto;
    height: 90vh;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.grid-item{
    padding-left: 2rem;
    height: fit-content;
    line-height: 0.8em;
}

a{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal; 
    color: violet;
}

.title  {
    text-align: left;
    color: white;
    margin-left: 2rem;
    margin-top: 2rem;
    display: inline-block;
}