
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    max-width:900px;
    margin: auto;
}

